---
layout: default
categories: tech
---

<div class="home">
    {% for post in paginator.posts %}
    {% if post.categories contains page.categories %}
    <div class="post">
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h2 post-title">{{ post.title }}</h3></a>
        <p class="post-summary">
            {% if post.summary %}
            {{ post.summary }}
            {% else %}
            {{ post.excerpt }}
            {% endif %}
        </p>
    </div>
    {% endif %}
    {% endfor %}

    {% include pagination.html %}
</div>
