<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
      <small>
        {% if site.github_username %}
          <a class="fa fa-github" href="https://github.com/{{ site.github_username }}"></a>
        {% endif %}
        {% if site.linkedin_username %}
          <a class="fa fa-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"></a>
        {% endif %}
        {% if site.email %}
          <a class="fa fa-envelope" href="mailto:{{ site.email }}"></a>
        {% endif %}
        <a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>

      </small>
    </div>
  </div>
</footer>

{% if site.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');

</script>
{% endif %}
