.fa {
  color: grey;
  margin: 5px;
}
.fa:hover {
  color: black;
}
.footer-wrap {
  padding: 2.8rem;
}
.verb {
  font-weight: bold;
}
.i {
  float: left;
  padding-top: 1.35em;
  font-size: 3em;
}
.bracket {
  font-size: 13em;
  float: left;
  line-height: 1.07em;
}
