body {
  height: 96%;
}
.fa {
  color: grey;
  margin: 5px;
}
.fa:hover {
  color: black;
}
.footer-wrap {
  padding: 2.8rem;
}
.verbs i{
  font-weight: bold;
}
.i {
  float: left;
  padding-top: 2.90em;
  font-size: 1.5em;
}
.bracket {
  font-size: 11em;
  float: left;
  line-height: 1em;
  padding-top:  0.07em;
  margin-left: 0.07em;
}
img[src$='#portrait'] {
  width: 240px;
  float: right;
  margin-top: -90px;
}
@media screen and (max-width: 48em) {
  .bracket {
    display: none;
  }
  .i {
    display: none;
  }
}
@media screen and (min-width: 48em) and (max-width: 300em) {
  .i-verb {
    display: none;
  }
}
