body {
  height: 96%;
}
.fa {
  color: grey;
  margin: 5px;
}
.fa:hover {
  color: black;
}
.footer-wrap {
  padding: 2.8rem;
}
.sixty {
  width: 60%;
}
.verbs span{
  font-weight: bold;
}
.i {
  float: left;
  padding-top: 2.90em;
  font-size: 1.5em;
}
.bracket {
  font-size: 10.5em;
  opacity: 0.1;
  float: left;
  color: #0096cc;
  line-height: 0.95em;
  padding-top: 0.1em;
  margin-left: 0.07em;
}
img[src$='#pdf'] {
  width: 50px;
  vertical-align: middle;
}
img[src$='#portrait'] {
  width: 240px;
  float: right;
  margin-top: -265px;
}
@media screen and (max-width: 48em) {
  .bracket {
    display: none;
  }
  .i {
    display: none;
  }
  img[src$='#portrait'] {
    display: none;
  }
}
@media screen and (max-width: 64em) and (min-width: 48em) {
  img[src$='#portrait'] {
    margin-top: -140px;
  }
}
@media screen and (min-width: 48em) and (max-width: 300em) {
  .i-verb {
    display: none;
  }
}
